.score-container
    position: fixed
    top: 0
    left: 0
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-evenly
    border: .2em solid silver
    border-radius: .5em

.score-item
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

.score-text
    font-family: Courier New, Courier, monospace
    margin: .5em
    color: white
