@import '../../App'
    
.loading-main 
    width: 100vw
    display: flex
    align-items: center
    justify-content: center

.loading-anim
    transform: rotateZ(90deg)
    filter: drop-shadow(0 0 .4em $theme-secondary-light)

.loading-anim-top
    @include hex-top
    border: 3.5em solid transparent
    border-bottom: 3.5em solid $theme-secondary-light
    
.loading-anim-bottom
    @include hex-bottom
    border: 3.5em solid transparent
    border-top: 3.5em solid $theme-secondary-light
    
.loading-anim-center
    @include hexagon
    height: 4em
    width: 7em
    background: $theme-secondary-light    

.loading-text-container
    display: flex
    align-items: flex-end
    justify-content: center
    position: absolute
    width: 100vw
    height: 100vh

.loading-text
    height: 3em


@keyframes turn
    0%
        transform: rotateZ(0deg)
        
    50%
        transform: rotateZ(90deg)

    100%
        transform: rotateZ(90deg)

@keyframes slide
    0%
        transform: translateX(0%)
    
    50%
        transform: translateX(100%)
        
        
        